.grupo_libros{
  margin-top: 0px;
}
.libros1{
  width: 150px;
  height: 220px;
  margin-right: 2.5%;
  margin-left: 2.5%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  margin-top: 1.2%;
  margin-bottom: 21px;
} 
.titulos {
  margin-top: 4%;
  color: #ac2929;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
.libros{
  width: 150px;
  height: 220px;
  margin-right: 2.5%;
  margin-left: 2.5%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  margin-top: 6.5%;
  margin-bottom: 21px;
}
.libros:hover {
  transform: scale(1.1);
}
.libros1:hover {
  transform: scale(1.1);
}
.titulo_libro {
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.precio_libro {
  font-size: 24px;
  color: green;
  font-family: Arial, Helvetica, sans-serif;
}
.carrusel{
  z-index: 4;
  display: flex;
  flex-wrap: nowrap;
  overflow:auto;
}
.img_carrusel{
  flex: 1 0 auto;
  margin: 0 50px; 
  margin-bottom: 5px;
}
.img_carrusel p {
  color:#000;
  font-size: 14px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 14px;
  margin: 0;
  margin-top: 0%;
  text-align: left;
  margin-right: 2%;
  margin-left: 4%;
}
.blanco{
  height: 15px;
  margin-bottom: 30px;
}
.flechas{
  margin-top: 7%;
  position: absolute;

}
