/*#862fb1, #c42a2a, #6b403b */
wrapper{
  z-index: 4;

  margin-left: 5%;
  display: flex;
  max-width: 90%;
  position: relative;
}
.wrapper i{
  top: 50%;
  height: 44px;
  width: 44px;
  color: #343F4F;
  cursor: pointer;
  font-size: 1.15rem;
  position: absolute;
  text-align: center;
  line-height: 44px;
  background: #777777c2;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper i:active{
  transform: translateY(-50%) scale(0.9);
}
.wrapper i:hover{
  background: #f2f2f2;
}
.wrapper i:first-child{
  left: -22px;
  display: none;
}
.wrapper i:last-child{
  right: -22px;
}
.wrapper .carousel{
  font-size: 0px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
}
.carousel.dragging{
  cursor: grab;
  scroll-behavior: auto;
}
.carousel.dragging img{
  pointer-events: none;
}
.carousel img{
  height: 220px;
  object-fit: cover;
  user-select: none;
  margin-left: 14px;
  width: 150px;
}
.carousel img:first-child{
  margin-left: 0px;
}
.libros1{
  width: 150px;
  height: 220px;
  margin-right: 2.5%;
  margin-left: 2.5%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  margin-top: 1.2%;
  margin-bottom: 21px;
} 
.titulos {
  color: #ac2929;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
.libros{
  width: 150px;
  height: 220px;
  margin-right: 2.5%;
  margin-left: 2.5%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  margin-top: 6.5%;
  margin-bottom: 21px;
}
.libros:hover {
  transform: scale(1.1);
}
.libros1:hover {
  transform: scale(1.1);
}

.carrusel{
  z-index: 4;
  display: flex;
  flex-wrap: nowrap;
  overflow:auto;
}
.img_carrusel{
  flex: 1 0 auto;
  margin: 0 50px; 
  margin-bottom: 5px;
}
.img_carrusel p {
  color:#000;
  font-size: 14px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 14px;
  margin: 0;
  margin-top: 0%;
  text-align: left;
}
.blanco{
  height: 15px;
  margin-bottom: 30px;
}
.flechas{
  margin-top: 7%;
  position: absolute;

}

.slider{
  max-width: 1140px;
  max-height: 272px;
  height: auto;
  width: auto;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  overflow: hidden;
}
.segundo_slider{
  display: flex;
  justify-content: center;
  margin-top: 2%; 
}
.slider ul{
  display: flex;
  padding: 0;
  width: 600%;
  height:80%;
  animation: cambio 15s infinite alternate;
}
.slider li{
  width: 100%;
  list-style: none;
}
.slider img{
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
}
@keyframes cambio{
  0% {margin-left: 0;}
  20% { margin-left: 0;}
  25%{ margin-left:-100%;}
  45%{ margin-left:-100%; }
  50%{margin-left: -200%;}
  70%{margin-left: -200%;}
  75%{margin-left: -300%;}
  100%{margin-left: -300%;}
  120%{margin-left: -400%;}
  125%{margin-left: -400%;}
  170%{margin-left: -500%;}
  175%{margin-left: -500%;}
}
/*
@media only screen and (max-width: 844) {
    #search {
        width: 45%;
    }
    .libros{
      width: 15%;
      height: 11%;
    }
}
*/
